.container{
    list-style-type: none;
}

.heading{
    
    font-size: 40px;
    font-weight: bold;
    color: rgb(5, 247, 5);
    text-decoration: underline;
}

#points{
    font-weight: bold;
    font-size: 25px;
    color:black;
    text-decoration: none;
}

#icon{
    width: 35px;
}

.head{
    min-width: 100%;
    display: inline-block;
}



